<div class="main">
  <div class="container">
    <h1>Hello this will be a login page</h1>
    <% @user.each do |u| %>
       <p><%= u.email%> <%= u.permissionLevel %></p>
    <%end %>
  </div>
</div>





