<p> <%= link_to 'Manage Events', '/officer/event'%></p>
<p> <%= link_to 'Manage Users', '/officer/user'%></p>
<p> <%= link_to 'Manage Announcements', '/officer/announcement'%></p>
<p> <%= link_to 'Home', '/'%></p>
