<div class="text-center p-4">
    <img class="img-fluid" src="https://static.wixstatic.com/media/29c07c_d89e0de42dad4a20bb410b0c4cbbf3ab~mv2.png/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/TDAC_LOGO.webp">
    <%= button_to 'Login', 'auth/auth0', method: :post, class: "btn btn-primary" %>
</div>